<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav class="app-sidenav" [mode]="sidenavMode" [opened]="sidenavOpened">
    <div class="flex-title">
      <div class="corner-title">
        <mat-toolbar class="toolbar-title">{{ title }}</mat-toolbar>
        <p class="cms-tagline">powered by <span style="font-style:italic">BIE-CMS</span></p>
      </div>
      <button mat-icon-button (click)="toggleNavState(); sidenav.toggle()" aria-label="Toggle sidebar">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">Home Page</a>
      <a mat-list-item routerLink="/author">Canvas Editor</a>
      <a mat-list-item routerLink="/recipe">Recipe Generator</a>
      <a mat-list-item routerLink="/upload">Media Upload</a>
      <a mat-list-item routerLink="/drafts">Page Manager</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div class="top-header">
      @if (!opened()) {
      <div class="menu-toggle-flex">
        <button mat-icon-button class="sidenav-toggle" (click)="toggleNavState(); sidenav.toggle()" aria-label="Toggle sidebar">
          <mat-icon>menu</mat-icon>
        </button>
        <div><img [src]="arrowImg" alt="" /></div>
      </div>
      <h1 class="page-title">{{ pageTitle() }}</h1>
      } @else {
      <div class="menu-toggle-flex menu-toggle-flex-extended">
        <div><img [src]="arrowImg" alt="" /></div>
      </div>
      <h1 class="page-title sidenav-gap">{{ pageTitle() }}</h1>
      }
    </div>

    <div class="content">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
