<mat-sidenav-container class="app-container">
  <!-- Sidebar Menu -->
  <mat-sidenav #sidenav class="app-sidenav" [mode]="sidenavMode" [opened]="sidenavOpened">
    <div class="flex-title">
      <div class="corner-title">
        <mat-toolbar class="toolbar-title">{{title}}</mat-toolbar>
        <p class="cms-tagline">powered by <span style="font-style:italic">BIE-CMS</span></p>
      </div>
      <button mat-icon-button class="sidenav-menu-toggle" (click)="toggleNavState(); sidenav.toggle()"
        aria-label="Toggle sidebar">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <mat-nav-list class="nav-list">
      <a mat-list-item href="author">Canvas</a>
      <a mat-list-item href="upload">Media Upload</a>
      <a mat-list-item href="#">Blog</a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main Content -->
  <mat-sidenav-content class="sidenav-content">
    <!-- Sidebar Toggle/ Top Toolbar -->

    @if (!opened()) {
    <div class="top-header">
      <button mat-icon-button class="sidenav-toggle" (click)="toggleNavState(); sidenav.toggle()"
        aria-label="Toggle sidebar">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="page-title">{{ pageTitle() }}</h1>
    </div>
    } @else {
    <div class="top-header header-open-nav">
      <h1 class="page-title sidenav-gap">{{ pageTitle() }}</h1>
    </div>
    }


    <!-- Content routes -->
    <div class="content">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>