@use 'sass:color';

// $app-bg-color: #eefaff;
$app-bg-color: #fffaf3;
$dark-green: #1c3832;
$peach: #f5dac0;
$pastel-pink: #FFD1DC;
$light-green: #A0D1C8;
$pale-green: #C1E3DD;


:host {
  display: block;
  height: 100vh;
}

.flex-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin:0;
  margin-right:4px;
  margin-bottom: 2rem;
  background-color: $dark-green;
}

.corner-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top:8px;
}

.app-container {
  height: 100%;
  background-color: $app-bg-color;
}

.app-sidenav {
  width: 280px; // desktop width
  background-color: $dark-green;
  border-radius: 0rem;
}

.toolbar-title {
  padding-left: 1rem;
  font-size: 28px;
  color: $app-bg-color;
  background-color: $dark-green;
}

.cms-tagline {
  color: #eefaff40;
  margin-top: -14px;
  margin-left: 1.5rem;
  font-size: 12px;
  z-index: 1;
}

.sidenav-content {  /* line 61 */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  padding: 0 16px 16px;
  box-sizing: border-box;
}

.sidenav-toggle {
  z-index: 1;
  top:12px;
  left: 4px;
  margin: 0 8px 24px 0;
  position:sticky;
}

.sidenav-gap {
  margin-left: 56px;
}

.spacer {
  display: flex;
  align-items: center;
  justify-content: start;
  max-height:64px;
  min-height:64px;
 flex: 0 0 64px;
 margin-top: 3rem;
 padding-left: 0;
}

.page-title {
  color: #3e4e5e;
  font-size: 2.5rem;
  margin-top:0px;
}

.content {
  padding: 8px;
  margin: 0px;
  // min-height: 30vh; // adjust with toolbar height
  // box-sizing: border-box;
  border: 1px solid $peach;
  border-radius: .75rem;
  background-color: #ffffff;
}
