# Platform config
NODE_ENV=development/production
PORT=4000
SSR_TARGET=http://localhost:4200

# Auth
JWT_SECRET= # node -e "console.log(require('crypto').randomBytes(32).toString('hex'));"
REFRESH_TOKEN_TTL_DAYS=30
ACCESS_TOKEN_TTL_MIN=15

# Postgres DB
DATABASE_URL=postgresql://postgres:password@localhost:5432/postgres
PG_SUPER_URL='postgresql://postgres:password@localhost:5432/postgres'

# Media uploads
MEDIA_TABLE=tablename
MEDIA_UPLOAD_DIR=./uploads     # Absolute path recommended on the server (e.g. /var/media/uploads)

# Seed admin
ADMIN_EMAIL=user@email.com
ADMIN_PASSWORD=SecurePassword1!
ADMIN_DISPLAYNAME='Admin User'
ADMIN_FIRST_NAME='Harry'
ADMIN_LAST_NAME='Seldon'