.homepage-wrapper {
    margin: 0 auto;
    padding: 0 4rem;
}

.homepage-top {
    margin:4rem 0 2rem;

    h1 {
        margin-bottom: 1rem;
    }
    p {
        font-style: italic;
    }
}

.about-me {
    margin-bottom:2rem;
    padding: 0 1rem;
    line-height: 1.5;
}

.homepage-flex {
    border: 1px solid #86b8ac40;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding-bottom: 8px;
}

.page-list {
    min-height: 30vh;

    a {
        color: #000000;
        text-decoration: none;
        width:fit-content;
    }
    a:visited {
        color: #181818;
    }

    ul {
        list-style: none;
        padding-left: 2rem;
    }
    
}

.blog-title {
    font-size: larger;
    display: flex;
    align-items: center;

    mat-icon {
        margin-right: 16px;
        font-size: 18px; 
        width: 18px;
        height: 18px;
    }

    h3 {
        margin:0;
    }
}

.blog-date {
    font-size: smaller;
    color: #747474;
    margin: 8px 0 24px 36px;
}

.page-controls {
    display: flex;
    justify-content: center;

    span {
        margin: 0 8px;
    }
}
