<!-- Author -->
<div *ngIf="editable(); else readonly"
     class="textbox-author"
     authorScope
     (authorEditingChange)="editingChange.emit($event)"
     aria-label="Textbox editing block">

  <div
    #textContent
    class="textbox"
    dir="ltr"
    [attr.contenteditable]="editable() ? 'true' : null"
    data-placeholder="Type your text…"
    (input)="onInput($event)"
    (keydown.enter)="onEnter($event)"
    aria-label="Text editor">
  </div>

  <app-layout-controls
    [layout]="block().layout"
    [totalColumns]="totalColumns()"
    [editable]="editable()"
    (layoutChange)="update.emit({ layout: $event })"
    (editingChange)="editingChange.emit($event)">
  </app-layout-controls>
</div>

<!-- Preview -->
<ng-template #readonly>
  <div class="textbox-view" 
    [textContent]="block().text"></div>
</ng-template>
