<fieldset class="layout-controls" [attr.aria-disabled]="!editable || null">
  <label class="row-control">
    <span>Row</span>
    <input
      type="number"
      min="1"
      step="1"
      [disabled]="!editable"
      [ngModel]="layout.row"
      (ngModelChange)="onRowChange($event)"
      (focus)="onFocus()" (blur)="onBlur()"
    />
  </label>

  <label>
    <span>Start</span>
    <input
      type="number"
      [min]="1"
      [max]="totalColumns"
      [disabled]="!editable"
      [ngModel]="layout.colStart"
      (ngModelChange)="onStartChange($event)"
      (focus)="onFocus()" (blur)="onBlur()"
    />
  </label>

  <label>
    <span>Span</span>
    <input
      type="number"
      [min]="1"
      [max]="maxSpan"
      [disabled]="!editable"
      [ngModel]="layout.colSpan"
      (ngModelChange)="onSpanChange($event)"
      (focus)="onFocus()" (blur)="onBlur()"
    />
  </label>

  <label>
    <span>Height</span>
    <input
      type="number"
      [min]="1"
      [max]="maxRows"
      [disabled]="!editable"
      [ngModel]="resolvedRowSpan"
      (ngModelChange)="onRowSpanChange($event)"
      (focus)="onFocus()" (blur)="onBlur()"
    />
  </label>
</fieldset>
