<fieldset class="layout-controls" [attr.aria-disabled]="!editable || null">
  <label>
    <span>Row</span>
    <input
      type="number"
      min="1"
      step="1"
      [disabled]="!editable"
      [ngModel]="layout.row"
      (ngModelChange)="onRowChange($event)"
      (focus)="onFocus()" (blur)="onBlur()"
    />
  </label>

  <label>
    <span>Column</span>
    <input
      type="number"
      [min]="1"
      [max]="totalColumns"
      [disabled]="!editable"
      [ngModel]="layout.colStart"
      (ngModelChange)="onStartChange($event)"
      (focus)="onFocus()" (blur)="onBlur()"
    />
  </label>

  <label>
    <span>Width</span>
    <input
      type="number"
      [min]="1"
      [max]="maxSpan"
      [disabled]="!editable"
      [ngModel]="layout.colSpan"
      (ngModelChange)="onSpanChange($event)"
      (focus)="onFocus()" (blur)="onBlur()"
    />
  </label>

  <label>
    <span>Height</span>
    <input
      type="number"
      [min]="1"
      [max]="maxRows"
      [disabled]="!editable"
      [ngModel]="resolvedRowSpan"
      (ngModelChange)="onRowSpanChange($event)"
      (focus)="onFocus()" (blur)="onBlur()"
    />
  </label>

  <div class="align-controls">
    <div class="align-group">
      <span>Horizontal Align</span>
      <div class="view-controls" role="group" aria-label="Horizontal alignment">
        <button
          type="button"
          mat-icon-button
          class="view-button view-button-left"
          [disabled]="!editable"
          [class.view-button-active]="currentHAlign === 'flex-start'"
          (click)="onHAlignSelect('flex-start')"
          (focus)="onFocus()" (blur)="onBlur()"
          aria-label="Align left">
          <mat-icon>format_align_left</mat-icon>
        </button>
        <button
          type="button"
          mat-icon-button
          class="view-button view-button-middle"
          [disabled]="!editable"
          [class.view-button-active]="currentHAlign === 'center'"
          (click)="onHAlignSelect('center')"
          (focus)="onFocus()" (blur)="onBlur()"
          aria-label="Align center">
          <mat-icon>format_align_center</mat-icon>
        </button>
        <button
          type="button"
          mat-icon-button
          class="view-button view-button-right"
          [disabled]="!editable"
          [class.view-button-active]="currentHAlign === 'flex-end'"
          (click)="onHAlignSelect('flex-end')"
          (focus)="onFocus()" (blur)="onBlur()"
          aria-label="Align right">
          <mat-icon>format_align_right</mat-icon>
        </button>
      </div>
    </div>

    <div class="align-group">
      <span>Vertical Align</span>
      <div class="view-controls" role="group" aria-label="Vertical alignment">
        <button
          type="button"
          mat-icon-button
          class="view-button view-button-left"
          [disabled]="!editable"
          [class.view-button-active]="currentVAlign === 'flex-start'"
          (click)="onVAlignSelect('flex-start')"
          (focus)="onFocus()" (blur)="onBlur()"
          aria-label="Align top">
          <mat-icon>vertical_align_top</mat-icon>
        </button>
        <button
          type="button"
          mat-icon-button
          class="view-button view-button-middle"
          [disabled]="!editable"
          [class.view-button-active]="currentVAlign === 'center'"
          (click)="onVAlignSelect('center')"
          (focus)="onFocus()" (blur)="onBlur()"
          aria-label="Align middle">
          <mat-icon>vertical_align_center</mat-icon>
        </button>
        <button
          type="button"
          mat-icon-button
          class="view-button view-button-right"
          [disabled]="!editable"
          [class.view-button-active]="currentVAlign === 'flex-end'"
          (click)="onVAlignSelect('flex-end')"
          (focus)="onFocus()" (blur)="onBlur()"
          aria-label="Align bottom">
          <mat-icon>vertical_align_bottom</mat-icon>
        </button>
      </div>
    </div>
  </div>
</fieldset>
