<!-- Author mode -->
<div *ngIf="editable; else readonly" class="block-author" (focusin)="emitEditing(true)" (focusout)="onFocusOut($event)">
<div class="author-slot">
<ng-content select="[author]"></ng-content>
</div>


<app-layout-controls
class="layout-controls"
[layout]="block.layout"
[totalColumns]="totalColumns"
[editable]="editable"
(layoutChange)="onLayoutChange($event)"
(editingChange)="emitEditing($event)"
></app-layout-controls>
</div>


<!-- Preview-Mode -->
<ng-template #readonly>
<div class="block-view">
<ng-content select="[view]"></ng-content>
</div>
</ng-template>