<app-block-shell-template
  editClass="img-author"
  previewClass="img-preview">

  <ng-container blockAuthor>
    <label class="field">
      <span>Image URL</span>
      <input class="input"
             type="url"
             [ngModel]="block().src"
             (ngModelChange)="onSrcChange($event)"
             pasteUrl
             (pasteUrl)="onSrcChange($event)"
             placeholder="https://example.com/image.jpg" />
    </label>

    <label class="field">
      <span>Alt text</span>
      <input class="input"
             type="text"
             [ngModel]="block().alt"
             (ngModelChange)="onAltChange($event)"
             placeholder="Describe the image" />
    </label>

    @if (block().src) {
      <div class="preview-wrap">
        <img class="media"
             [src]="block().src"
             [alt]="block().alt || ''"
             (error)="broken = true"
             [class.broken]="broken" />
        @if (broken) {
          <div class="broken-note">{{ block().alt || '' }}</div>
        }
      </div>
    }
  </ng-container>

  <ng-container blockPreview>
    <img class="media" [src]="block().src" [alt]="block().alt || ''" />
  </ng-container>
</app-block-shell-template>
