<div *ngIf="editable(); else preview"
     class="img-author"
     authorScope
     (authorEditingChange)="editingChange.emit($event)">

  <label class="field">
    <span>Image URL</span>
    <input class="input" type="url"
           [ngModel]="block().src"
           (ngModelChange)="onSrcChange($event)"
           pasteUrl
           (pasteUrl)="onSrcChange($event)"
           placeholder="https://example.com/image.jpg" />
  </label>

  <label class="field">
    <span>Alt text</span>
    <input class="input" type="text"
           [ngModel]="block().alt"
           (ngModelChange)="onAltChange($event)"
           placeholder="Describe the image" />
  </label>

  <app-layout-controls
    [layout]="block().layout"
    [totalColumns]="totalColumns()"
    [editable]="editable()"
    (layoutChange)="update.emit({ layout: $event })"
    (editingChange)="editingChange.emit($event)">
  </app-layout-controls>

  <div class="preview-wrap" *ngIf="block().src">
    <img class="media"
         [src]="block().src"
         [alt]="block().alt || ''"
         (error)="broken = true"
         [class.broken]="broken" />
    <div *ngIf="broken" class="broken-note">{{block().alt || ''}}</div>
  </div>
</div>

<ng-template #preview>
  <div class="img-preview">
    <img class="media" [src]="block().src" [alt]="block().alt || ''" />
  </div>
</ng-template>
